.task-list {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(12, 35, 49, 0.06);
}

.task-list h3 {
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  /* border-bottom: 1px solid #e0e0e0; */
}

th {
  background-color: #2c3e50;
  color: white;
  font-weight: 500;
}

tr:hover {
  background-color: #f5f5f5;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.update-btn,
.delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.update-btn {
  background-color: #2c3e50;
  color: white;
}

.update-btn:hover {
  background-color: #34495e;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
}

.delete-btn:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .task-list {
    margin: 10px;
    padding: 10px;
  }

  th,
  td {
    padding: 8px;
  }

  .action-buttons {
    flex-direction: column;
    gap: 5px;
  }
}

p{
  margin: 12px 10px;
  font-size: 15px;
  font-weight:600;
  color: #2c3e50;
}